.container-fluid {
    padding: 20px;
}

.about-container {
    min-height: 300px;
}

.figure {
    float: left;
    margin-top: 5px;
    margin-right: 20px;
}

.projects-container {
    background-color: lightgrey;
}

